.dashboard-container {
  padding: 20px;
  flex: 1; /* Push footer to the bottom */
}

.dashboard-title {
  text-align: center;
  color: #0047ab;
  font-size: 2rem;
  margin-bottom: 20px;
}

.progress-section,
.completed-section,
.quiz-section {
  margin-bottom: 30px;
}

.completed-list,
.quiz-list {
  list-style: none;
  padding: 0;
}

.completed-list li,
.quiz-list li {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.completed-list li:hover,
.quiz-list li:hover {
  background-color: #e6f0ff;
}
